.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 400;
}

.wrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 15px;
  background-color: #4c4c4c;

  .header__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header__title {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
  }
}

.interval_wrap {
  display: flex;
  padding: 20px;
}

.interval {

  .interval_item {
    padding: 20px;
  }

  .interval__title {
    font-size: 40px;
    font-weight: 500;
  }

  .interval__container {
    display: flex;
    margin: 0 40px;
    align-items: center;
  }

  .interval__arrow {
    font-size: 48px;
    cursor: pointer;
    color: #8a8a8a;
    border: none
  }

  .interval__length {
    font-size: 35px;
    margin: 0 10px;
  }
}

.timer {
  padding-top: 30px;

  .timer__container {
    border: 2px solid #8a8a8a;
    border-radius: 25px;
    min-width: 350px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
    padding: 20px;
    background-color: #fff;
  }

  .timer__title {
    font-size: 45px;
    font-weight: 500;
  }

  .timer__display {
    font-size: 40px;
  }

  .timer__actions {
    padding-top: 45px;
    text-align: center;
  }

  .timer__btn {
    padding: 5px 15px;
    margin: 0 10px;
    min-height: 25px;
    background-color: #8a8a8a;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    min-width: 100px;
    border-radius: 25px;
    font-size: 24px;
  }
}

//--------------------------------------------dark-theme--------------------------------------------------------------------------

.dark-theme .interval__arrow {
  color: #fff;
}

.dark-theme .timer__btn {
  background-color: #fff;
  color:black
}

.dark-theme .timer__container {
  background-color: #1c1c1c;
  border-color: #fff;
}

.dark-theme .timer__display {
  color: #fff
}

.dark-theme .interval__length {
  color: #fff;
}

.dark-theme .title {
  color: #fff;
}

//----------------------------------------------@media < 576 px------------------------------------

@media (max-width: 576px) {

  .wrap {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    padding: 15px;
  
    .header__title {
      font-size: 25px;
    }
  }
  
  .interval_wrap {
    padding: 5px;
  }
  
  .interval {
  
    .interval_item {
      padding: 8px;
    }
  
    .interval__title {
      font-size: 20px;
      font-weight: 500;
    }
  
    .interval__container {
      margin: 0 15px;
    }
  
    .interval__arrow {
      font-size: 28px;
    }
  
    .interval__length {
      font-size: 18px;
      margin: 0 5px;
    }
  }
  
  .timer {
    padding-top: 10px;
  
    .timer__container {
      min-width: 150px;
      padding: 10px;
    }
  
    .timer__title {
      font-size: 20px;
    }
  
    .timer__display {
      font-size: 20px;
    }
  
    .timer__actions {
      padding-top: 20px;
      text-align: center;
    }
  
    .timer__btn {
      padding: 5px 10px;
      min-width: 50px;
      font-size: 14px;
    }
  }
}