@import './App.scss';
@import './componets.DarkModeToggler.scss';
@import '../icofont/icofont.min.css';

html, body, #root, .App {
  height: 100vh;
}

.App {
  background-color: #eeecec;
}

.dark-theme .App {
  background-color: #2e2e2e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}